<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if message %}
    <script>
        alert('{{ message }}');
    </script>
    {% endif %}
    <!-- Add the Tailwind CSS stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.17/tailwind.min.css">
    <title>Buy Tickets</title>
</head>

<body class="bg-gray-100 p-4">
    <div class="container mx-auto p-4">
        <h1 class="text-3xl font-bold mb-4">Buy a Ticket</h1>
        <form action="{% url 'buy_tickets' %}" method="POST">
            {% csrf_token %}
            <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2" for="event_name">Event Name</label>
                <select
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="event_name" name="event_name" required>
                    {% for event in events %}
                    <option value="{{ event.event_name }}">{{ event.event_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2" for="ticket_price">Ticket Price</label>
                <select
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="ticket_price" name="ticket_price" required>
                    <option value="100">100</option>
                    <option value="200">200</option>
                    <option value="300">300</option>
                    <option value="400">400</option>
                    <option value="500">500</option>
                </select>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2" for="customer_email">Customer Email</label>
                <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="customer_email" name="customer_email" type="email" placeholder="Enter customer email" required>
            </div>
            <button
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="submit">
                Buy Ticket
            </button>
        </form>
        <br>
        <a href="{% url 'index' %}">
            <button
                class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Back</button>
        </a>

    </div>
</body>

</html>
